EmploymentManagement/.classpath
EmploymentManagement/.project
EmploymentManagement/.settings/
EmploymentManagement/src/main/webapp/resources/bower_components/
.metadata/
RemoteSystemsTempFiles/.project