<div>
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">
				Edit employee <a class="btn btn-success pull-right"
					ng-click="updateEmployee()"> <i class="fa fa-save append-icon"></i>
					Update
				</a>
			</h3>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">General information</div>
  		<div class="panel-body">
	  			  		<form class="form-horizontal" role="form">
				<div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Code:
						</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="Enter code"
								name="name" ng-model="editEmployee.employeeId">
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Name:
						</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" placeholder="Enter first name"
								name="name" ng-model="editEmployee.firstName">
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" placeholder="Enter last name"
							name="name" ng-model="editEmployee.lastName">
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Father name:
						</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="Enter father name"
								name="name" ng-model="editEmployee.fatherName">
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Position:
						</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="Enter position"
								name="name" ng-model="editEmployee.position">
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Aadhar
							id: </label>
						<div class="col-sm-6">
							<input type="text" class="form-control"
								placeholder="Enter adhar id" name="name"
								ng-model="editEmployee.aadharId">
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Address:
						</label>
						<div class="col-sm-6">
							<textarea class="form-control" name="name"
								ng-model="editEmployee.address"></textarea>
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Mobile
							No: </label>
						<div class="col-sm-6">
							<input type="text" class="form-control"
								placeholder="Enter mobile number" name="name"
								ng-model="editEmployee.mobileNo">
						</div>
					</div>
	
				</div>
			</form>
  		</div>
	</div>
	<div class="panel panel-default">
  		<div class="panel-heading">Account information</div>
  		<div class="panel-body">
  			<form class="form-horizontal" role="form">
				<div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">PF number:
						</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="Enter code"
								name="name" ng-model="editEmployee.pf">
						</div>
					</div>
				</div>
				<div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">ESIC number:
						</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="Enter code"
								name="name" ng-model="editEmployee.esic">
						</div>
					</div>
				</div>
			</form>
  		</div>
	</div>
	
</div>



