<div>
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">
				Employee details <!-- <a class="btn btn-success pull-right"
					ng-click="saveReference()"> <i class="fa fa-save append-icon"></i>
					Save
				</a> -->
			</h3>
		</div>
	</div>
	<div class="datasourceTable">
		<table st-table="allEmployees"  
			class="table table-striped">
			<thead style="background-color: lightskyblue;">
				<tr>
					<th>EmployeeId</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th></th>
				</tr>
				
			</thead>
			<tbody>

				<tr ng-repeat="row in allEmployees">
					<td><a href="" ng-click="editEmployeeDetails(row.employeeId)">{{row.employeeId}}</a></td>
					<td>{{row.firstName}}</td>
					<td>{{row.lastName}}</td>
					<td><a href="" ng-click="calculateSalary(row.employeeId)">Calculate Salary</a></td>
				</tr>
			</tbody>
		 <tfoot>
			<tr>
				<td colspan="2" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-template="js/directives/pagination.custom.html"></div>
				</td>
			</tr>
		</tfoot>

		</table>
		<div class = "empty" ng-show = "isEmpty">No employee added.</div>
	</div>
</div>