<div>
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">Pay slip</h3>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">General information</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form">
				<div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">EmployeeId:
						</label>
						<div class="col-sm-3">
							<label class="control-label" for="modelType">{{editEmployee.employeeId}}
							</label>
						</div>
					<div ng-if="editEmployee.salaryBasis == 'package'">
						<label class="control-label col-sm-3" for="modelType">PF
							No : </label>
						<div class="col-sm-3">
							<label class="control-label" for="modelType">{{editEmployee.pf}}
							</label>
						</div>
					</div>
					</div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Name:
						</label>
						<div class="col-sm-3">
							<label class="control-label" for="modelType">{{editEmployee.firstName}}
								{{editEmployee.lastName}} </label>
						</div>
					<div ng-if="editEmployee.salaryBasis == 'package'">
						<label class="control-label col-sm-3" for="modelType">ESIC
							No : </label>
						<div class="col-sm-3">
							<label class="control-label" for="modelType">{{editEmployee.esic}}
							</label>
						</div>
					</div>
					</div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Position:
						</label>
						<div class="col-sm-3">
							<label class="control-label" for="modelType">{{editEmployee.position}}
							</label>
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px;">
						<label class="control-label col-sm-3" for="modelType">Aadhar
							Id: </label>
						<div class="col-sm-3">
							<label class="control-label" for="modelType">{{editEmployee.aadharId}}
							</label>
						</div>
					</div>
					<div class="form-group" style="margin-top: 10px;"></div>
				</div>
			</form>
		</div>
	</div>
<!-- 	<div ng-if="editEmployee.salaryBasis == 'daily'">
	<div class="panel panel-default col-sm-5" style="padding: 0;margin-right:20px;">
		<div class="panel-heading">Earnings</div>
		<div class="panel-body">
		<form class="form-horizontal" role="form">
		<div class="form-group" style="margin-top: 10px;">
		
					<label class="control-label col-sm-6" for="modelType">No of
						days: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.noOfDays}}
						</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Daily
						Rate: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.ratePerDay | number : 2}}
						</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Extra Hours:
					</label>
					<div class="col-sm-6">
						<input type="text" class="col-sm-3"
								placeholder="Enter leaves" name="name"
								ng-model="editEmployeeSalary.extraHours" 
								ng-model-options="{debounce: 1000}" ng-change="updateSalary()">
							<label class="control-label" for="modelType">&nbsp;&nbsp;{{editEmployeeSalary.extraIncome | number : 2}}
						</label>	
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Leaves (days):
					</label>
					<div class="col-sm-6">
						<input type="text" class="col-sm-3"
								placeholder="Enter leaves" name="name"
								ng-model="editEmployeeSalary.leaves" 
								ng-model-options="{debounce: 1000}" ng-change="updateSalary()">
							<label class="control-label" for="modelType">&nbsp;&nbsp;{{editEmployeeSalary.leavesDeduction | number : 2}}
						</label>	
					</div>
				</div>
				<hr>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Gross
						Income: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.grossSalary | number : 2}}
						</label>
					</div>
				</div>
				</form>
				</div>
		</div>
		</div> -->
	<!-- <div ng-if="editEmployee.salaryBasis == 'package'"> -->
	<div class="panel panel-default col-sm-5" style="padding: 0;margin-right:20px;">
		<div class="panel-heading">Earnings</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form">
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Basic
						Salary: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.basicSalary | number : 2}}
						</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">HRA:
					</label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.hra | number : 2}}
						</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Convience:
					</label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.convience | number : 2}}
						</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Other
						Allowance: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.otherAllowance | number : 2}}
						</label>
					</div>
				</div>
				
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">No of
						days: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.noOfDays}}
						</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Daily
						Rate: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.ratePerDay | number : 2}}
						</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Extra Hours:
					</label>
					<div class="col-sm-6">
						<input type="text" class="col-sm-3"
								placeholder="Enter leaves" name="name"
								ng-model="editEmployeeSalary.extraHours" 
								ng-model-options="{debounce: 1000}" ng-change="updateSalary()">
							<label class="control-label" for="modelType">&nbsp;&nbsp;{{editEmployeeSalary.extraIncome | number : 2}}
						</label>	
					</div>
				</div>
				
				<hr>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Gross
						Income: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.grossSalary | number : 2}}
						</label>
					</div>
				</div>
				
			</form>
			</div>
		</div>
	<!-- </div> -->
	<!-- <div ng-if="editEmployee.salaryBasis == 'package'"> -->
	<div class="panel panel-default col-sm-5" style="padding: 0;">
		<div class="panel-heading">Deductions</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form">
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">PF :
					</label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.pfAmount | number : 2}}
						</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">ESIC:
					</label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.esicAmount | number : 2}}
						</label>
					</div>
				</div>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Leaves (days):
					</label>
					<div class="col-sm-6">
						<input type="text" class="col-sm-3"
								placeholder="Enter leaves" name="name"
								ng-model="editEmployeeSalary.leaves" 
								ng-model-options="{debounce: 1000}" ng-change="updateSalary()">
							<label class="control-label" for="modelType">&nbsp;&nbsp;{{editEmployeeSalary.leavesDeduction | number : 2}}
						</label>	
					</div>
				</div>
				
				<hr>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Total
						Deduction: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{totalDeduction | number : 2}}
						</label>
					</div>
				</div>
				<hr>
				<div class="form-group" style="margin-top: 10px;">
					<label class="control-label col-sm-6" for="modelType">Net
						Pay: </label>
					<div class="col-sm-6">
						<label class="control-label" for="modelType">{{editEmployeeSalary.netPay | number : 2}}
						</label>
					</div>
				</div>
			</form>
		</div>
		</div>
	<!-- </div> -->
</div>



