<div id="wrapper">

        <!-- Navigation -->

        <header></header>
        <!-- /.navbar-top-links -->


        <!-- /.navbar-static-side -->

            <div id="page-wrapper" style="min-height: 561px;">
                <!-- if the ui-view as a "row", we do not need to reset the height of page-wrapper-->
                <div ui-view class="row" style="margin:0px; background: #fff;">

                </div>

            </div>
            <!-- when the ui-view add a class "row", we can also use footer-->
            <div class="footer" style="color:#BBBBBB;position:fixed;bottom:0px;z-index: 9999;"><a
                    href="http://www.tandemcorp.com/" target="_blank">&copy;
                Copyright 2017</a></div>

            <!-- /#page-wrapper -->
    </div>
